@import url('https://fonts.googleapis.com/css?family=Alegreya');


html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
}

* {
    margin: 0;
    padding: 0;
}

/* navbar */
.container {
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
    grid-template-rows: repeat(3, min-content) 70vh repeat(5, min-content);
    grid-row-gap: 1.6rem;
    margin-top: 1.6rem;
}

.social-icons {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    align-items: center;
}

.social-icon {
    font-size: 1.8rem;
    color: #12376e;
    transition: all .2s;
}

.social-icon:hover {
    color: #34598f;
    transform: rotateZ(360deg);
}

.first-nav {
    grid-column: 6 / 10;
    grid-row: 1 / 2;
}

.first-nav-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    list-style: none;
}

.first-nav-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #12376e;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.first-nav-link::after {
    content: "";
    width: 0;
    height: .1rem;
    background-color: #12376e;
    display: block;
    margin: auto;
    transition: width .2s cubic-bezier(.55, 0, .98, .54);
}

.first-nav-link:hover::after {
    width: 100%;
}

.first-nav-link span {
    font-size: 1.3rem;
    color: #34598f;
}

.first-nav-link i {
    font-size: 1.3rem;
    margin-right: .3rem;
}

.search {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}

.search-form {
    display: grid;
    grid-template-columns: repeat(10, 10%);
}

.search-input {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    padding: .3rem .4rem;
    font-size: 1.3rem;
    border: none;
    border-bottom: .1rem solid #12376e;
    outline: none;
}

.search-btn {
    grid-column: 10 / -1;
    grid-row: 1 / 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.second-nav {
    grid-column: 2 / 10;
    grid-row: 3 / 4;
    border-top: .1rem solid #12376e;
    border-bottom: .1rem solid #12376e;
}

.second-nav-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    list-style: none;
}

.second-nav-link {
    text-align: center;
    display: grid;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    color: #12376e;
    padding: .8rem 0;
    transition: all .5s .3s;
}

.second-nav-item:hover .second-nav-link {
    background-color: #12376e;
    color: #fff;
}

.second-nav-link::before,
.second-nav-link::after {
    content: "";
    width: 0;
    height: .1rem;
    background-color: #12376e;
    display: block;
    transition: width .3s cubic-bezier(.55, 0, .98, .54), background-color .5s .3s;
}

.second-nav-link::after {
    justify-self: end;
}

.second-nav-item:hover .second-nav-link::before,
.second-nav-item:hover .second-nav-link::after {
    width: 100%;
    background-color: #fff;
}

.second-nav-item:first-child {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    width: 70rem;
    background-color: #fffeee;
    padding: 1.6rem;
    display: grid;
    grid-template-columns: repeat(7, 10rem);
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: all 1s;
}

.second-nav-item:first-child:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.dropdown-first-list {
    grid-column: 1 / 3;
}

.dropdown-second-list {
    grid-column: 3 / 5;
}

.dropdown-image {
    grid-column: 5 / -1;
    width: 100%;
}

.dropdown-list-item {
    list-style: none;
}

.dropdown-list-link {
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #34598f;
    margin: 0 0 1rem 1.6rem;
    display: block;
}

.dropdown-list-link:hover {
    color: #458a9f;
}
/* end of navbar */

/* banner */
.banner {
    grid-column: 2 / 10;
    grid-row: 4 / 5;
    position: relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    z-index: 50;
}

.banner-heading {
    font-size: 10rem;
    color: #12376e;
    margin-bottom: 6rem;
}

.banner-btn {
    width: 16rem;
    height: 5rem;
    background: linear-gradient(to top, #00154c, #12376e, #23487f);
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .3rem;
    outline: none;
    position: relative;
    overflow: hidden;
}

.banner-btn-text-one {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    transition: top .2s;
}

.banner-btn-text-two {
    position: absolute;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    transition: top .2s;
}

.banner-btn:hover .banner-btn-text-one {
    top: -100%;
}

.banner-btn:hover .banner-btn-text-two {
    top: 50%;
}

.slideshow {
    height: 100%;
    overflow: hidden;
}

.slideshow-wrapper {
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
    animation: slideshow 20s infinite;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slideshow {
    0% {left: 0}

    10% {left: 0}

    15% {left: -100%}

    25% {left: -100%}

    30% {left: -200%}

    40% {left: -200%}

    45% {left: -300%}

    55% {left: -300%}

    60% {left: -200%}

    70% {left: -200%}

    75% {left: -100%}

    85% {left: -100%}

    90% {left: 0}
}
/* end of banner */













